@model Fund.Models.UEvent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="DetailsEvents" asp-controller="UGroups">Back to List</a>
</div>

@if (Model.UEventTypeId == UEventType.tCommon)
{
    <div class="container">
        <ul class="nav nav-tabs">
            <li>
                <a asp-action="DetailsPayments" asp-route-id="@Model.Id">Payments</a>
            </li>
            <li class="active">
                <a asp-action="DetailsTotals" asp-route-id="@Model.Id">Totals</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="totals" class="tab-pane fade in active">
                <h3>Totals</h3>
                <div>
                    @Html.Partial("/Views/UTotals/Index.cshtml", Model.UTotals)
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <ul class="nav nav-tabs">
            <li>
                <a asp-action="Details" asp-route-id="@Model.Id">Bills</a>
            </li>
            <li>
                <a asp-action="DetailsPayments" asp-route-id="@Model.Id">Payments</a>
            </li>
            <li class="active">
                <a asp-action="DetailsTotals" asp-route-id="@Model.Id">Totals</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="totals" class="tab-pane fade in active">
                <h3>Totals</h3>
                <div>
                    @Html.Partial("/Views/UTotals/Index.cshtml", Model.UTotals)
                </div>
            </div>
        </div>
    </div>
}
